:root {
    --color-a: #00FF15;
    --color-b: #9937ff;
    --color-c: #0000FF;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

#painting-grid {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    row-gap: 0;
    column-gap: 0;
    padding: 1px;

    width: 700px;
    height: 700px;

    background-color: #1f1f1f;
}

.div-block:hover {
    border: 4px inset blue;
}

.fill-0 {
    background-color: white;
}

.fill-1 {
    background-color: var(--color-a);
}

.fill-2 {
    background-color: var(--color-b);
}

.fill-3 {
    background-color: var(--color-c);
}

.color-picker {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid black;
}

#reset-btn {
    margin: 1rem;
}